.main-bg-img:nth-child(1){
    position: fixed;
    bottom:-50%;
    left:-20%;
    height:100vh;
    z-index:-2;
}
.main-bg-img:nth-child(2){
    position: fixed;
    top:-36%;
    right:-19%;
    height:100vh;
    z-index:-2;
}
.main-form{
    display: flex;
    flex-direction: column;
    width:100%;
}
.main-header{
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size:2rem;
    color:#d7d7d7;
    max-width:500px;
    text-align:center;
    color:#F09693;
    margin: 4vh auto;
}
.main-search{
    margin:0 auto;
    width:80%;
    max-width:700px;
    height:70px;
    background-color: rgb(246, 246, 246, 0.05);
    color:#d7d7d7;
    border-color: #6D569D;
    font-size:1.3rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 2px;
}
.main-search::placeholder{
    color:#7f7a83;
}
.main-search:focus{
    border-color: #7f24c9;
}
.main-search:autofill{
    background-color: transparent;
}
.main-search:-webkit-autofill {
    background-color: transparent;
}
.main-search:focus{
    border-color: #c45efa;
    border-width: 2px;
    box-shadow: rgba(162, 23, 248, 0.35) 0px 5px 15px;
}
.main-button{
    margin:30px auto;
    width:140px;
    height:50px;
    background-color: var(--background-color);
    border-color:#F4C29C;
    color:#F4C29C;
    font-family: 'inter', sans-serif;
    font-weight: 500;
    font-size:1.5rem;
}
.warning-alert{
z-index: 20;
min-width: 300px;
}
.prompt-text{
    font-family: 'inter', sans-serif;
    font-size: 1.1rem;
    font-weight: 600;
    text-align: center;
    max-width: 500px;
    padding-top: 15px;
    margin: 0 auto;
    color: aliceblue;
}
.error-message{
    font-family: 'inter', sans-serif;
    font-size: 1.1rem;
    font-weight: 600;
    text-align: center;
    color: rgb(248, 72, 72);
}
.err-loader{
    margin: 0 auto;
}
.lds-ellipsis {
    display: inline-block;
    margin-left:calc(50% - 35px);
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-ellipsis div {
    position: absolute;
    top: 13px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: aliceblue;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
  }
  .lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
  }
  @keyframes lds-ellipsis1 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes lds-ellipsis3 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  @keyframes lds-ellipsis2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(24px, 0);
    }
  }
  